# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


.idea
build


src/thirdparty/freetype/builds/unix/ftconfig.in
src/thirdparty/freetype/docs/LICENSE.TXT
src/thirdparty/freetype/src/Jamfile
src/thirdparty/freetype/src/autofit/Jamfile
src/thirdparty/freetype/src/base/Jamfile
src/thirdparty/freetype/src/bdf/Jamfile
src/thirdparty/freetype/src/bzip2/Jamfile
src/thirdparty/freetype/src/cache/Jamfile
src/thirdparty/freetype/src/cff/Jamfile
src/thirdparty/freetype/src/cid/Jamfile
src/thirdparty/freetype/src/gxvalid/Jamfile
src/thirdparty/freetype/src/gzip/Jamfile
src/thirdparty/freetype/src/lzw/Jamfile
src/thirdparty/freetype/src/otvalid/Jamfile
src/thirdparty/freetype/src/pcf/Jamfile
src/thirdparty/freetype/src/pfr/Jamfile
src/thirdparty/freetype/src/psaux/Jamfile
src/thirdparty/freetype/src/pshinter/Jamfile
src/thirdparty/freetype/src/psnames/Jamfile
src/thirdparty/freetype/src/raster/Jamfile
src/thirdparty/freetype/src/sfnt/Jamfile
src/thirdparty/freetype/src/smooth/Jamfile
src/thirdparty/freetype/src/tools/Jamfile
src/thirdparty/freetype/src/truetype/Jamfile
src/thirdparty/freetype/src/type1/Jamfile
src/thirdparty/freetype/src/type42/Jamfile
src/thirdparty/freetype/src/winfonts/Jamfile
fetched_content
